<div  class="container-fluid">
    <div align="center" >
            <button routerLink="/productosrecomendados"><img class="img-fluid icono" src="assets/icon5.png"></button>
            <button routerLink="/solicitudes"><img class="img-fluid icono" src="assets/icon6.png"></button>
            <button routerLink="/menu"><img class="img-fluid icono" src="assets/icon7.png"></button>
            <button routerLink="/consultas"><img class="img-fluid icono" src="assets/icon8.png"></button>
            <button routerLink="/perfil"><img class="img-fluid icono" src="assets/icon9.png"></button>
    </div>
</div>